<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" href="https://static.blogapi.top/assets/js/plugins/iSlider/iSlider.min.css">
  <link rel="stylesheet" href="http://www.17sucai.com/preview/584108/2018-07-07/shop/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/reset.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/layout.min.css">
</head>
<body>
  <div class="wrap" id='app' v-cloak>
    <!-- 头部 -->
    <header class="nav" id="topbar">
      <!--分类图标-->
      <a href="###" class="nav-list"></a>
      <section class="nav-search">
        <section class="search-input"><span>请输入要检索的商品</span></section>
      </section>
      <!--购物车图标-->
      <a href="###" class="nav-car"></a>
    </header>
    <!--主体-->
    <main class="main" id="main">
      <link rel="stylesheet" href="../assets/css/index.min.css">
<!--首页-->
<div class="index-wrap">
  <!--banner  -->
  <section class="banner" id="banner">
    <section class="iSlider-wrapper" id="iSlider-wrapper"></section>
  </section>
  <!-- 分类 导航 -->
  <section class="navs">
    <ul>
      <li>
        <i class="icon-yqyl"></i>
        <span>邀请有理</span>
      </li>

      <li>
        <i class="icon-cjfl"></i>
        <!-- <img src="http://www.17sucai.com/preview/584108/2018-07-07/shop/img/cjfl.png" alt=""> -->
        <span>春节福利</span>
      </li>
      <li>
        <i class="icon-kbsc"></i>
        <!-- <img src="http://www.17sucai.com/preview/584108/2018-07-07/shop/img/kbsc.png" alt=""> -->
        <span>酷比商城</span>
      </li>
      <li>
        <i class="icon-sjtx"></i>
        <!-- <img src="http://www.17sucai.com/preview/584108/2018-07-07/shop/img/sjtx.png" alt=""> -->
        <span>手机通讯</span>
      </li>
      <li>
        <i class="icon-sjpj"></i>
        <!-- <img src="http://www.17sucai.com/preview/584108/2018-07-07/shop/img/sjpj.png" alt=""> -->
        <span>手机配件</span>
      </li>
    </ul>
  </section>
  <!-- 最新动态 -->
  <section class="news">
    <section class="title">
      <strong>最新</strong>
      <em>资讯</em>
    </section>
    <section class="info-list">
      <p>马上就要开学了，书包买买买！</p>
      <p>马上就要开学了，书包买买买！2</p>
      <p>马上就要开学了，书包买买买！3</p>
    </section>
    <a href="">更多</a>
  </section>
  <!--限时秒杀 -->
  <section class="second-kill">
    <section class="kill-title">
      <section class="left">
        <h3>限时秒杀</h3>
        <em>10点场</em>
      </section>
      <a href="###">秒抢好货&gt;</a>
    </section>
    <ul class="kill-list" id="killList">
      <div class="swiper-wrapper">
        <div class="swiper-slide seckill-ware" v-for="i in 5" v-key="i">
          <a href="###">
                    <img src="https://static.blogapi.top/assets/images/shop/iphone.jpg" alt="">
                    <em>￥3800</em>
                    <del>￥10000</del>
                </a>
        </div>
      </div>

      <!-- <li v-for="i in 5" v-key="i">
        <a href="###">
            <img src="https://m.360buyimg.com/n1/jfs/t15787/353/109633918/16701/5a8390ef/5a27ae6dNc530b5bb.jpg!q70.jpg" alt="">
            <em>￥3800</em>
            <del>￥10000</del>
        </a>
      </li> -->
    </ul>
  </section>
  <!--活动图片 -->
  <section class="activity">
    <section class="top-1">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/top.gif" alt="">
      </a>
    </section>
    <section class="center-1">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/center1.png" alt="">
      </a>
    </section>
    <section class="center-2">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/center2.png" alt="">
      </a>
    </section>
    <section class="clearfix"></section>
    <section class="bottom-1">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/bottom1.png" alt="">
      </a>
    </section>

    <section class="bottom-2">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/bottom2.png" alt="">
      </a>
    </section>
    <section class="bottom-3">
      <a href="###">
        <img src="https://static.blogapi.top/assets/images/shop/bottom3.png" alt="">
      </a>
    </section>

  </section>
</div>
<script>
  setTimeout(function() {
    var list = [{
      content: 'https://static.blogapi.top/assets/images/shop/1.jpg'
    }, {
      content: 'https://static.blogapi.top/assets/images/shop/1.jpg'
    }]

    /**
     * banner
    */
    var S = new iSlider({
      dom: document.getElementById('iSlider-wrapper'),
      data: list,
      isOverspread: 1,
      isAutoplay: 1,
      animateTime: 800,
      isLooping: true,
      plugins: ['dot'],
      animateType: 'rotate'
    });

    // 秒杀商品滑动
    var swiper = new Swiper('.kill-list', {
      slidesPerView: 3.5,
      spaceBetween: 5,
      freeMode: true
    });
  }, 1000)
</script>

    </main>
    <!-- 底部 -->
    <footer class="footer" id="footer">
      <ul>
        <li v-for="(t,i) in toolbar" @click="changeTab(i)">
          <a :href="t.link">
              <img :src="selectIndex==i?t.active:t.img" alt="">
              <em :style="{color:selectIndex==i?'#956bff':'#000'}">{{t.label}}</em>
           </a>
        </li>
      </ul>
    </footer>
  </div>
  <script src="../assets/minjs/rem.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://static.blogapi.top/assets/js/plugins/iSlider/iSlider.min.js"></script>
  <script src="https://static.blogapi.top/assets/js/plugins/iSlider/iSlider.animate.min.js"></script>
  <script src="https://static.blogapi.top/assets/js/plugins/iSlider/iSlider.plugin.dot.min.js"></script>
  <script src="http://www.17sucai.com/preview/584108/2018-07-07/shop/js/swiper.min.js"></script>
  <script>
    //计算内部高度
    function computedInner() {
      var winHeight = document.documentElement.clientHeight;
      var navBarHeight = document.getElementById('topbar').offsetHeight;
      var footerHeight = document.getElementById('footer').offsetHeight;
      var main = document.getElementById('main');
      var app = document.getElementById('app');
      var diff = winHeight - navBarHeight - footerHeight;
      main.style.height = diff + "px";
      app.style.height = winHeight + "px";
    }
    window.onresize = computedInner;
   var vm=new Vue({
      el:'#app',
      data:{
        selectIndex:0,
        toolbar:[{
            label:'首页',
            img:'../assets/images/index.svg',
            active:'../assets/images/index-active.svg'
        },{
          label:'分类',
          img:'../assets/images/category.svg',
          active:'../assets/images/category-active.svg'
        },{
          label:'发现',
          img:'../assets/images/find.svg',
          active:'../assets/images/find-active.svg'
        },{
          label:'购物车',
          img:'../assets/images/car.svg',
          active:'../assets/images/car-active.svg'
        },{
          label:'我的',
          img:'../assets/images/me.svg',
          active:'../assets/images/me-active.svg'
        }]
      },
      mounted:function(){
        setTimeout(function(){
          computedInner();
        },100)
      },
      methods:{
        changeTab:function(index){
          this.selectIndex=index;
        }
      }
   })
  </script>
</body>
</html>