<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" href="https://static.blogapi.top/assets/js/plugins/iSlider/iSlider.min.css">
  <link rel="stylesheet" href="http://www.17sucai.com/preview/584108/2018-07-07/shop/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/reset.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/layout.min.css">
</head>
<body>
  <div class="wrap" id='app' v-cloak>
    <!-- 头部 -->
    <header class="nav" id="topbar" style="display:none">
      <!--分类图标-->
      <a href="###" class="nav-list"></a>
      <section class="nav-search">
        <section class="search-input"><span>请输入要检索的商品</span></section>
      </section>
      <!--购物车图标-->
      <a href="###" class="nav-car"></a>
    </header>
    <!--头部2 -->
    <header class="nav sub" id="topbar" style="display:none">
      <!--分类图标-->
      <a href="###" class="nav-list"></a>
      <section class="nav-search">
        <section class="search-input">
          <input type="text" placeholder="请输入要检索的商品">
        </section>
      </section>
      <!--搜索-->
      <a href="###" class="search-txt">搜索</a>
    </header>
    <!--头部3-->
    <header class="nav other" id="topbar">
      <!--分类图标-->
      <a href="###" class="nav-list"></a>
      <section class="nav-search">
         <h3>购物车</h3>
      </section>
      <!--编辑-->
      <a href="###" class="search-txt">编辑</a>
    </header>

    <!--主体-->
    <main class="main" id="main">
      <link rel="stylesheet" href="../assets/css/search.min.css">
<!--搜索建议-->
<section class="search-wrap">
  <!-- 最近搜索区域 -->
  <section style="display:none">
    <!--最近搜索  -->
    <section class="search-sug">
      <section class="sug-title">
        <h4>最近搜索</h4>
        <a class="del" href="##">&#xe633;</a>
      </section>
      <ul>
        <li v-for="i in 10" class="sug-item"><a href="#">剃须刀{{i}}</a></li>
      </ul>
    </section>
    <!--热门搜索-->
    <section class="search-sug">
      <section class="sug-title">
        <h4>热门搜索</h4>
        <!-- <a class="del" href="##">&#xe633;</a> -->
      </section>
      <ul class="sug-list">
        <li v-for="i in 10" class="sug-item"><a href="#">剃须刀{{i}}</a></li>
      </ul>
    </section>
  </section>

  <!--搜索列表-->
  <section class="result-list">
    <ul>
      <li v-for="i in 5" class="result-item">
        <em>关键字</em>
        <section>
          <ul class="sug-list">
            <li class="sug-item" v-for="i in 3">
              <a href="###">剃须刀</a>
            </li>
          </ul>
        </section>
      </li>
    </ul>
  </section>



</section>

    </main>
    <!-- 底部 -->
    <footer class="footer" id="footer">
      <ul>
        <li v-for="(t,i) in toolbar" @click="changeTab(i)">
          <a :href="t.link">
              <img :src="selectIndex==i?t.active:t.img" alt="">
              <em :style="{color:selectIndex==i?'#956bff':'#000'}">{{t.label}}</em>
           </a>
        </li>
      </ul>
    </footer>
  </div>
  <script src="../assets/minjs/rem.min.js"></script>
  <script src="//static.blogapi.top/assets/js/libs/vue.min.js"></script>
  <script src="//static.blogapi.top/assets/js/plugins/iSlider/iSlider.min.js"></script>
  <script src="//static.blogapi.top/assets/js/plugins/iSlider/iSlider.animate.min.js"></script>
  <script src="//static.blogapi.top/assets/js/plugins/iSlider/iSlider.plugin.dot.min.js"></script>
  <script src="//static.blogapi.top/assets/js/plugins/swiper/swiper.min.js"></script>
  <script>
    //计算内部高度
    function computedInner() {
      var winHeight = document.documentElement.clientHeight;
      var navBarHeight = document.getElementById('topbar').offsetHeight;
      var footerHeight = document.getElementById('footer').offsetHeight;
      var main = document.getElementById('main');
      var app = document.getElementById('app');
      var diff = winHeight - navBarHeight - footerHeight;
      main.style.height = diff + "px";
      app.style.height = winHeight + "px";
    }
    window.onresize = computedInner;
   var vm=new Vue({
      el:'#app',
      data:{
        selectIndex:0,
        toolbar:[{
            label:'首页',
            img:'../assets/images/index.svg',
            active:'../assets/images/index-active.svg'
        },{
          label:'分类',
          img:'../assets/images/category.svg',
          active:'../assets/images/category-active.svg'
        },{
          label:'发现',
          img:'../assets/images/find.svg',
          active:'../assets/images/find-active.svg'
        },{
          label:'购物车',
          img:'../assets/images/car.svg',
          active:'../assets/images/car-active.svg'
        },{
          label:'我的',
          img:'../assets/images/me.svg',
          active:'../assets/images/me-active.svg'
        }]
      },
      mounted:function(){
        setTimeout(function(){
          computedInner();
        },100)
      },
      methods:{
        changeTab:function(index){
          this.selectIndex=index;
        }
      }
   })
  </script>
</body>
</html>