.detail-wrap{
  .blog-area,.comment-area{
    background: #FFF;
    border-radius: 2px;
    box-shadow: 1px 5px 10px #eee;
    padding: 40px 25px 30px;
    h3{
      font-size: 28px;
      text-align: center;
      font-weight: lighter;

    }
    .blog-info{
      margin-top: 20px;
      font-size: 13px;
      font-weight: lighter;
      text-align:center;
    }
    p{
      font-weight: lighter;
      font-size: 14px;
      line-height: 30px;
      color: #444;
    }
    .blog-ds{
      border-top:1px solid #ddd;
      padding: 20px 0;
      text-align: center;
    }
    .blog-content{
      padding-bottom: 20px !important;
    }
  }
  .blog-area{
    margin: 20px 0;
  }
  .blog-page{
    display: flex;
    justify-content: space-between;
    .pre-btn,.next-btn{
      font-weight: lighter;
      box-shadow: 0 0 5px rgba(0,0,0,.1);
      border-radius: 2px;
      color: #555;
      padding:13px 15px;
      margin:0 0 20px;
      cursor: pointer;
      background: #FFF;
      user-select: none;
    }
  }

  .comment-area{
    .wangEditor-container, .wangEditor-container *{
      border-radius: 3px;
    }
    .comment-content{
       margin: 15px 0;
    }
    .blog-ds{
      border-top-width: 0;
    }
  }



}
