@import './common/index';

@font-face {
  font-family: 'iconfont';  /* project id 326957 */
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "微软雅黑", HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', sans-serif, 'iconfont';
  background: transparent;
}

body {
  line-height: 1;
}

em {
  font-style: normal;
  display: inline-block;
}

:focus {
  outline: 1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.clearfix {
  clear: both;
}

.w230{
  width:$w230 !important;
}
.w770{
  width:$w770 !important;
}


.wrap {
  background: #f5f5f5;
  .header {
    width: 100%;
    height: 150px;
    background: #FFF;
    @extend %box-shadow;
    .top-wrap {
      @extend %center-1024;
      .top {
        height: 86px;
        @extend %flex;
        border-bottom: 1px solid #eee;
        justify-content: space-between;
        .logo {
          background: bg('logo.png');
          width: 143px;
          height: 31px;
          background-size: 100% 100%;
          & > a {
            height: 100%;
            width: 100%;
            display: inline-block;
          }
        }
        .search {
          font-family: 'iconfont';
          position: relative;
          margin-right: 45px;
          input {
            border: 2.5px solid $mainColor;
            padding: 8px;
            width: 380px;
            border-radius: 8px;
            outline: none;
          }
          .search-bar {
            position: absolute;
            right: 0px;
            font-size: 22px;
            top: 0px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            width: 55px;
            cursor: pointer;
          }
        }
        .mybook {
          font-size: $navRight;
          @extend %flex;
          .books {
            &::before {
              font-size: 22px;
              color: $mainColor;
              content: "\e742";
              margin-right: 8px;
            }
          }
          .photo {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: block;
            margin-left: 10px;
          }
        }
      }
      .nav {
        @extend %flex;
        justify-content: space-between;
        position: relative;
        .nav-list {
          @extend %flex;

          height: 64px;
          .active {
            position: relative;
            &::after {
              content: '';
              height: 3px;
              width: 100%;
              position: absolute;
              bottom: -23px;
              background: red;
              display: block;
            }
          }

          li {
            margin-right: 50px;
            &::before {
              content: '';
            }
            a {
              font-size: $navFont;
              @include common-a($fontColor, 16px);
            }
            &:nth-child(1) {
              a {
                padding-left: 25px;
              }
            }
            &:nth-child(1)::before {
              content: '\e6b7';
              font-size: 22px;
              position: absolute;
              top: -2px;
              color: $mainColor;
            }
          }

        }
        .flow-nav {
          position: absolute;
          top: 55px;
          left: 0;
          z-index: 3;
          background: #000;
          padding: 10px 0;
          display: none;
          &::before {
            content: '';
            background: #000;
            transform: rotate(45deg);
            height: 20px;
            width: 20px;
            position: absolute;
            top: -2px;
            left: 33%;
            z-index: -1;
          }
          li {
            padding: 2px 15px;
            &:hover {
              background: $mainColor;
            }
            &::before {
              content: '\e635';
              color: #666;
              font-size: 18px;
            }
          }
          a {
            color: #666;
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
          }
        }
        .nav-right {
          a {
            margin-left: 50px;
            @include common-a;
            font-size: $navRight;
            &:nth-child(1)::before {
              content: '\e635';
              font-size: 20px;
              margin-right: 4px;
            }
            &::before {
              content: '\e618';
              color: $mainColor;
              font-size: 22px;
            }
          }
        }

      }
    }
  }
  .main {
    @extend %center-1024;
    overflow: auto;
    .main-inner {
      overflow: auto;
      margin: 12px 0 8px;
      .block {
        @include block;
      }
    }
  }

  .footer {
    margin: 12px 0 15px;
    overflow: hidden;
    .footer-inner {
      text-align: center;
      @extend %center-1024;
      .web-list {
        overflow: hidden;
        font-size: 12px;
        //position: relative;
        span {
          display: inline-block;
          //margin-right:2px;
          float: left;
        }
        div {
          float: right;
          width: 90%;
          a {
            @include common-a;
            margin: 0 12px 10px 3px;
            display: inline-block;
          }
        }
      }

      .about-us {
        margin: 0px 0 0;
        a {
          @include common-a;
          color: #666;
          margin: 0 12px 10px 3px;
        }
      }
      .copyright {
        font-size: 12px;
        color: #666;
        text-align: center;
        margin: 10px auto 20px;
        overflow: hidden;
        p {
          // line-height: 10px;
        }
      }
    }
  }
}

//公共按钮样式
.btn {
  @extend %common-btn;
  font-weight: lighter;
  &:hover {
    background: #ffeaed;
  }
}

.btn-select {
  @extend %common-btn;
  background: $mainColor;
  color: #FFF;
  &:hover {
    background: $mainColor;
    color: #FFF;
  }
}

.small-btn {
  padding: 0 2px;
  @include small-btn-border;
}

.btn-red {
  @include small-btn-border($redColor);
}

.btn-blue {
  @include small-btn-border($blueColor);
}

//图片hover放大效果
.div-img {
  width: 105px;
  height: 138px;
  border: 1px solid #ccc;
  overflow: hidden;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    img {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scale(1);
      transition: transform .3s ease-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

//栏目容器和标题部分
.container {
  @include block(265px);
  height: auto;
  overflow: hidden;
  .container-inner {
    margin: 24px 0px 15px 25px;
    overflow: hidden;
    .channelName {
      @extend %hot-h3;
    }
    .side-ad {
      height: 80px;
      padding: 10px 0 0;
      img {
        height: 100%;
      }
    }
  }
}

//新书抢先右侧每一项公共样式
.side-item {
  margin-bottom: 15px;
  width: 50%;
  float: left;
  .odd {
    margin-left: 5px !important;
  }
  .side-item-inner {
    //width:90%;
    margin-left: 20px;
    font-size: 12px;
    .side-item-content {
      float: left;
      width: 228px;
      padding-left: 16px;
      color: #999;
      h4 {
        font-size: 16px;
        color: #000;
      }
      span {
        margin: 9px 0;
        display: inline-block;
      }
      p {
        margin-top: 7px;
      }
    }
    .side-item-pic {
      float: left;
    }
  }
}

//排行榜每一项样式
.rank-item {
  width: 25%;
  margin-top: 30px;
  float: left;
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    padding-right: 25px;
    li {
      border-bottom: 1px solid $boderColor;
      padding: 7px 0;
      a {
        @include common-a($fontColor, 14px);
      }

      em {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        font-size: 13px;
        width: 18px;
        text-align: center;
        margin-right: 5px;
      }

      &:nth-last-child(1) {
        border-bottom: 0px solid $boderColor;
      }
    }
    .first {
      em {
        background: $mainColor;
        color: #FFF;
      }
    }
    .second {
      em {
        background: $rankSecondColor;
        color: #FFF;
      }
    }
    .three {
      em {
        background: $rankThreeColor;
        color: #FFF;
      }
    }
  }
}

//排行页面右侧 搜索样式
.category {
  padding: 5px 0;
  //margin-left: 20px;
  border-bottom: 1px solid $lighterGrayColor;
  .category-title {
    font-size: $h2Font;
    margin: 5px 0 15px 20px;
    overflow: hidden;
  }
  .category-list {
    margin: 0 0 10px 20px;
    overflow: hidden;
    clear: both;
    .category-item {
      float: left;
      margin-right: 14px;
      &.active {
        background: $mainColor;
        border-radius: 3px;
        a {
          color: #FFF;
          font-size: 12px;
          font-weight: lighter;
          &:hover {
            color: #FFF !important;
          }
        }

      }
      a {
        @include common-a;
        padding: 2px 8px;
      }
    }

  }
}

//小数分类列表
.story-list {
  margin: 20px 0 0 20px;
  .story-item {
    border-bottom: 1px solid $lighterGrayColor;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &:nth-child(1) {
      .story-item-left {
        em {
          background: $mainColor;
        }
      }
    }
    &:nth-child(2) {
      .story-item-left {
        em {
          background: $orangeColor;
        }
      }
    }
    &:nth-child(3) {
      .story-item-left {
        em {
          background: $blueColor;
        }
      }
    }

    &:nth-last-child(1) {
      border-bottom-width: 0;
    }

    .story-item-left {
      em {
        display: block;
        height: 25px;
        width: 25px;
        background: $grayColor;
        color: #FFF;
        line-height: 25px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
      }

    }
    .story-item-center {
      margin: 0 30px 0 16px;
      font-size: 12px;
      color: $grayColor;
      h3 {
        font-size: 18px;
        color: #000;
      }
      ul {
        display: flex;
        align-items: center;
        color: $grayLigColor;
        li {
          padding: 0;
          display: flex;
          align-items: center;

          &::after {
            content: '';
            height: 12px;
            width: 1px;
            background: $lighterGrayColor;
            margin: 10px;
            display: inline-block;
          }
          img {
            display: inline-block;
            width: 14px;
            height: 14px;
            display: inline-block;
            margin-right: 2px;
          }
          a {
            @include common-a;
            color: $grayLigColor;
          }
        }
      }
      p {
        line-height: 20px;
        font-weight: lighter;
      }
      .story-author {
        margin: 10px 0;
        color: $grayLigColor;
        a {
          color: $blueColor;
          text-decoration: none;
          margin-right: 5px;
        }
      }
    }
    .story-item-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-top: 35px;
      div {
        margin-top: 12px;
      }
      min-width: 120px;
    }
  }
}

//公共分页样式
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      a {
        @include common-a($fontColor, 16px);
        border: 1px solid #FFF;
        padding: 10px 15px;
        &:hover {
          border: 1px solid $mainColor;
        }
      }
      &.active {
        background: $mainColor;
        border-radius: 5px;
        a {
          color: #FFF;

          &:hover {
            color: #FFF !important;
            border: 1px solid #FFF;
          }
        }
      }
    }
  }
  .go {
    margin-left: 20px;
    display: flex;
    align-items: center;
    input {
      width: 30px;
      height: 30px;
      outline: none;
      text-align: center;
      border: 1px solid $lighterGrayColor;
      &:hover {
        border: 1px solid $mainColor;
      }
    }
    span {
      margin-left: 10px;
      border: 1px solid $lighterGrayColor;
      padding: 6px;
      font-size: 16px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        border: 1px solid $mainColor;
      }
    }
  }
}

//排行榜 左右布局样式
.wrap-left {
  padding: 0 0 25px 0;
  background: $whiteColor;
  float: left;
  width: 230px;
}

.wrap-right {
  float: right;
  background: $whiteColor;
  width: 770px;
  padding: 10px 0 20px;
  .ranks {
    padding: 0 0 0 24px;
    .rank-item {
      width: 33.33%;
      margin-top: 20px;
    }
  }
}

.hudong::before {
  font-family: 'iconfont';
  content: "\e677";
  font-weight:bold;
  font-size:20px;
}

.tabs{
   .tab-title{
     display: flex;
     border-bottom: 1px solid $lighterGrayColor;
     li {
       padding: 0 14px 10px;
       a {
         color: $fontColor;
         font-size: 18px;
         text-decoration: none;
         //font-weight: 700;
       }
       &.active {
         border-bottom: 2px solid $mainColor;
         a {
           color: $mainColor;
         }
         position: relative;
         top: 1px;
       }
     }
   }
   .tab-content{
     //限时免费部分
     .part-left{
       //display: none;
       .part-left-content{
         background: #FFF;
         padding-top:0px;
         overflow: hidden;
       }
     }
     //免费作品
     .part-right{
       //display: block;
       margin-top:40px;
     }
   }

}





//条件选中样式
//.active{
//  background: $mainColor;
//  color: #FFF;
//  &:hover{
//    color: #FFF !important;
//  }
//}

