@mixin  white-block($height:100px){
  background: #FFF;
  height: $height;
}

@mixin block($height:100px){
  @include white-block($height);
  margin-bottom:20px;
}

@mixin small-btn-border($color:$orangeColor){
  color:$color ;
  border:1px solid $color;
  font-size: 12px;
}

@mixin common-a($fC:$aColor,$fz:12px){
  color: $fC;
  text-decoration: none;
  font-size:$fz;
  cursor: pointer;
  display: inline-block;
  &:hover{
    color: $mainColor !important;
  }
}