$fontColor:#1a1a1a;
$mainColor:#ff3955;
$navFont:16px;
$iconFont:20px;
$navRight:14px;
$footerColor:#1a1a1a;
$blueColor:#4284ed;
$orangeColor:#ffa100;
$redColor:$mainColor;
$grayColor:#808080;
$grayLigColor:#a6a6a6;
$lighterGrayColor:#eee;
$boderColor:#ccc;
$rankSecondColor:#e67225;
$rankThreeColor:#e6bf25;
$whiteColor:#FFF;
$h2Font:24px;