<link rel="stylesheet" href="../assets/css/search.min.css">
<!--搜索建议-->
<section class="search-wrap">
  <!-- 最近搜索区域 -->
  <section style="display:none">
    <!--最近搜索  -->
    <section class="search-sug">
      <section class="sug-title">
        <h4>最近搜索</h4>
        <a class="del" href="##">&#xe633;</a>
      </section>
      <ul>
        <li v-for="i in 10" class="sug-item"><a href="#">剃须刀{{i}}</a></li>
      </ul>
    </section>
    <!--热门搜索-->
    <section class="search-sug">
      <section class="sug-title">
        <h4>热门搜索</h4>
        <!-- <a class="del" href="##">&#xe633;</a> -->
      </section>
      <ul class="sug-list">
        <li v-for="i in 10" class="sug-item"><a href="#">剃须刀{{i}}</a></li>
      </ul>
    </section>
  </section>

  <!--搜索列表-->
  <section class="result-list">
    <ul>
      <li v-for="i in 5" class="result-item">
        <em>关键字</em>
        <section>
          <ul class="sug-list">
            <li class="sug-item" v-for="i in 3">
              <a href="###">剃须刀</a>
            </li>
          </ul>
        </section>
      </li>
    </ul>
  </section>
</section>
